@charset "UTF-8";

/* Скидання стилів */
@import url("../css/reset.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 823px;
   padding-inline: 15px;
   margin: 0 auto;
}

/* header  */
.header {
   position: relative;
   width: 100%;
   z-index: 2;
   color: #000;
}

.header__container {
   max-width: 1134px;
}

.header__body {
   display: flex;
   justify-content: space-between;
   align-items: start;
   padding-top: clamp(0.75rem, 0.422rem + 1.64vw, 1.438rem);
}

.header__logo {
   font-size: clamp(1.25rem, 0.898rem + 1.76vw, 2.25rem);
}

.header a {
   transition: opacity 0.2s ease;
 }
 
.header a:hover {
   opacity: 0.75;
}

.menu__list {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   gap: clamp(0.5rem, 2vw, 2.125rem);
}

.menu__link {
   font-size: clamp(0.875rem, 0.826rem + 0.25vw, 1rem);
   white-space: nowrap;
   transition: color 0.2s ease;
}

.menu__link:hover {
   text-decoration: underline;
}


@media (width <= 767px) {
   .header__body {
      align-items: center;
      justify-content: space-between;
      gap: 16px;
   }

   .icon-menu {
      margin-left: auto;
      flex-shrink: 0;
   }
}

/* hero-hairbrush */
.hero-hairbrush {
   margin-top: clamp(0.75rem, -3.425rem + 20.87vw, 7.313rem);
}

.hero-hairbrush__container {
   max-width: none;
   padding-inline: 0;
}

.hero-hairbrush img{
   display: block;
   width: 100%;
}

/* combs-info */
.combs-info {
   margin-top: clamp(1.563rem, 1.085rem + 2.39vw, 2.313rem);
}

.combs-info__title {
   text-align: center;
   font-size: clamp(1.25rem, 0.932rem + 1.59vw, 1.75rem);
   margin-bottom: clamp(1.25rem, -0.977rem + 11.13vw, 4.75rem);
   font-family: "Playfair Display", serif;  
}

.combs-info__content {
   font-family: "Roboto", sans-serif;
   font-size: clamp(1rem, 0.841rem + 0.8vw, 1.25rem);
}

.combs-info__content p + p {
   margin-top: clamp(1.25rem, 0.773rem + 2.39vw, 2rem);
}

/* brushes */
.brushes {
   margin-top: clamp(1.875rem, 0.324rem + 7.75vw, 4.313rem);
}

.brushes__container {
   max-width: 895px;
}

/* brush-types */
.brush-types__title {
   font-size: clamp(1.25rem, 1.051rem + 0.99vw, 1.563rem);
   margin-bottom: clamp(0.625rem, -0.091rem + 3.58vw, 1.75rem);
   font-family: "Playfair Display", serif;  
}

.brush-types__subtitle {
   font-size: clamp(1.125rem, 0.966rem + 0.8vw, 1.375rem);
   font-family: "Roboto", sans-serif;
}

.brush-types__image-wrap {
   display: flex;
   justify-content: center;
   margin-bottom: clamp(1.25rem, -0.5rem + 8.75vw, 4rem);
}

.brush__image {
   margin-top: clamp(1.875rem, 0.523rem + 6.76vw, 4rem);
} 
.brush-types__image {
   width: 100%;
   max-width: 460px;
}

.brush-types__content {
   font-family: "Roboto", sans-serif;
   font-size: clamp(1rem, 0.841rem + 0.8vw, 1.25rem);
}

.brush-types + .brush-types {
   margin-top: clamp(2.188rem, -0.158rem + 11.73vw, 5.875rem);
}

.brush-types__content h3 {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   margin: 26px 0;
}

.brush-types__content p + p {
   margin-top: 26px;
}

/* footer */
.footer {
   margin-top: clamp(1.875rem, -7.23rem + 45.53vw, 16.188rem);
   background-color: #2f2f2f;
   color: #ffffff;
}

.footer__container {
   max-width: 1000px;
   padding-top: clamp(1.875rem, 1.427rem + 2.24vw, 2.813rem);
   padding-bottom: 28px;  
}

.footer__top {
   border-top: 1px solid #cdcaca;
   padding-top: 28px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.footer__column {
   text-align: center;
   padding-inline: clamp(0rem, -0.716rem + 3.58vw, 1.5rem);
}

.footer__column:not(:first-child) {
   border-left: 1px solid #a09f9f;
}

.footer__title {
   font-size: 18px;
   margin-top: 7px;
   margin-bottom: 25px;
}

.footer__list {
   font-size: 14px;
}

.footer__list li + li {
   margin-top: 20px;
   margin-bottom: 34px;
}

.footer__address {
   margin-bottom: 19px;
   font-size: 14px;
}

.footer__phone {
   display: inline-block;
   margin-bottom: 60px;
   font-size: 14px;
}

.footer__cta {
   font-size: 18px;
}

.footer__email {
   display: inline-block;
   margin-bottom: 25px;
}

.footer__bottom {
   border-top: 1px solid #a09f9f;
   margin-top: clamp(0rem, -0.971rem + 4.85vw, 2.063rem);
   padding-top: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__logo {
   font-size: clamp(20px, 3.2vw, 24px);
}

.footer__copy {
   font-size: 13px;
}

.footer a {
   transition: opacity 0.2s ease;
}

.footer a:hover {
   opacity: 0.75;
}


@media (width <= 991px) {
   .footer__title {
      font-size: 30px;
   }

   .footer__cta {
      font-size: 17px;
   }

   .footer__copy {
      font-size: 16px;
   }
}

@media (width <= 640px) {
   .footer__top {
      grid-template-columns: 1fr;
   }

   .footer__column:not(:first-child) {
      border-left: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.35);
      padding-top: 24px;
      padding-bottom: 24px;
   }
   
   .footer__bottom {
      flex-direction: column;
      text-align: center;
   }
}